.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.layout {
  display: grid;
  grid-template-columns: 20% 60% 20%;
}

.header {
  background-color: rgb(68, 155, 215);
}

.buttonOne:hover {
  background-color: rgba(255, 0, 0, .5)
}

.buttonTwo {
  color: rgb(68, 155, 215);
}

.buttonTwo:hover {
  color: rgb(255, 255, 0);
  background-color: rgb(68, 155, 215);
}

.brand {
  filter: opacity(75%);
}

.brand:hover {
  filter: opacity(100%);
}

@media (max-width: 380px) {
  .layout {
    display: flex;
    flex-direction: column;
  }

  #one {
    order: 2;
  }

  #two {
    order: 1;
  }

  #three {
    order: 3;
    text-align: center;
  }
}
